
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-width: 1920;
  --scale-factor: calc((100vw / var(--base-width)) * 100);
  --min-scale: 0.8;
  --max-scale: 1.5;
}
html {
  transform: scale(clamp(var(--min-scale), calc(var(--scale-factor) / 100), var(--max-scale)));
  transform-origin: 0 0; 
  width: calc(100% / clamp(var(--min-scale), calc(var(--scale-factor) / 100), var(--max-scale)));
  height: calc(100% / clamp(var(--min-scale), calc(var(--scale-factor) / 100), var(--max-scale)));
  
  background-color: inherit; 
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}